@CHARSET "UTF-8";

/***** 头部 开始 ****/
.header .logo{
	width:120px;
	height:120px;
	padding:3px 0;
}

.header .header-main{
	width:1080px;
	height:126px;
}

.header-main li{
	float:left;
	margin-left:30px;
}

.header-main .club {
	color:red;
}

.header-main .searchbox {
	margin-left:70px;
}
/***** 头部 结束 ****/


/***** 导航栏 开始 ****/
.navbar {
	background-color:#26ba4b;
	height:37px;
}

.navbar li{float:left;}

.navbar ul {
	padding-top:7px;
}

.navbar a:link {
	display:block;
	width:105px;
	height:30px;
   color: #FFFFFF;
   font-size:16px;
   text-decoration: none;
   text-align:center;
}
.navbar a:visited {
    color: #FFFFFF;
    text-decoration: none;  
}
.navbar a:hover{
	border-bottom:solid 6px orange;
}
.navbar a:active{
	color: #FFFF00;
}

/***** 导航栏 结束 ****/


/***** 内容区 开始 ****/
.mainpage-left {
	width:880px;
	padding-right:5px;
	margin-right:10px;
	border-right:1px solid #999;
}


/*当季精选*/
.the_season {
	border:1px solid #bbb;
	overflow:hidden;
}

.pro_smallpic {
	width:193px;
	margin:4px 0px 0 4px;
}

.pro_sp_text{
	font-size:16px;
	color:#f60;
	text-align:center;
	margin-bottom:20px;
}


.pro_bigpic {
	width:480px;
	height:350px;
	background: url('../images/linglanyinxiang.png') no-repeat;
	background-size: 100% 100%;
}

.transbox{
	height: 80px;
	margin-top:270px;
	background-color: #fff;
	opacity:0.75;
}

.pro_title {
	font-size:20px;
	color:#f60;
	font-weight:600;
	margin-left:8px;
}

.pro_text {
	font-size:36px;
	color:red;
	margin:8px 0 0 8px;
}



.mainpage-right {
	width:300px;
}

/***** 内容区 结束 ****/


/***** 底部 开始 ****/
.footer {
	background-color:#363636;
	padding:10px;
}
/***** 底部 结束 ****/