@CHARSET "UTF-8";

/***** 头部 开始 ****/
/***** 头部 结束 ****/


/***** 导航栏 开始 ****/
.navbar {
	background-color:#26ba4b;
	height:37px;
}

/***** 导航栏 结束 ****/


/***** 内容区 开始 ****/
/***** 内容区 结束 ****/


/***** 底部 开始 ****/
.footer {
	background-color:#363636;
	padding:10px;
}
/***** 底部 结束 ****/